*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(79, 122, 172);

}

main {
    background-color: rgb(206, 212, 219);
        width: 500px;
        margin: auto;
        padding: 10px;
        box-shadow: 3px 3px 5px black;
}